.continerBoxSpace {
  display: flex;
  justify-content: center;
  /* background: green; */
  margin: 30px 0 30px 0;
}

.MainBox {
  /* width: 100%; */
  text-align: center;
  /* background: red; */
}

.MainBox h1,
.MainBox p{
  margin: 10px;
}

.MainBox h1 {
  font-size: 40px;
  color: rgb(53, 52, 52);
}

.MainBox p {
  font-size: 20px;
  width: 700px;
  color: var(--Color-Light2);
}

@media(max-width:740px) {
  .MainBox p {
    width: 100%;  
  }
}