.continerBlog {
  width: 100%;
  margin-top: 65px;
}

.backgrounMainBlog {
  width: 100%;
  height: 300px;
  background-image: url(../../../public/aboutMainImg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
}

.backgrounMainBlog::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #122947b9;
  position: absolute;
  top: 0;
}

.backgrounMainBlog .TextMain {
  margin: 0 0 0 100px;
  z-index: 3;
  width: 85%;
}

.TextMain p {
  font-size: 20px;
  margin: 0 0 0 20px;
  color: white;
}

.TextMain h3 {
  margin: 10px 0 0 0;
  font-size: 50px;
  color: white;
}

.BoxBlog {
  margin-top: 100px;
}

@media (max-width: 1024px) {
  .backgrounMainBlog {
    justify-content: center;
  }
  .TextMain {
    text-align: center;
    margin: 0 !important;
  }
  .TextMain p {
    font-size: 20px;
    margin: 0 !important;
  }

  .TextMain h3 {
    font-size: 50px;
    margin: 0 !important;
  }
}